autobahn==20.12.3
bintrees==2.0.7
-e git+git@github.com:jackfriedson/bitex.git@ae62547a8c2ae9e9c8e447427b9054e25a7409a5#egg=BitEx
certifi==2017.11.5
chardet==3.0.4
click==6.7
coinbase==2.0.6
-e git+https://github.com/jackfriedson/coinbitrage@8f1a48ba92bc5fce70b7c1318fee92a9dfe6a83b#egg=coinbitrage
idna==2.6
numpy==1.14.0
pandas==0.22.0
pusherclient==0.3.0
pycrypto==2.6.1
-e git+git@github.com:jackfriedson/PyLimitBook.git@e4e4eec3d3de93d397218f38fffcf7ed4eb79731#egg=pylimitbook
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
txaio==2.8.2
tzlocal==1.5.1
urllib3==1.22
websocket-client==0.46.0
