appnope==0.1.0
autobahn==17.10.1
-e git+git@github.com:jackfriedson/bitex.git@7571aa8ecf341f4c72c4860f31ee344abd38ac0f#egg=BitEx
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
matplotlib==2.1.0
numpy==1.13.3
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pusherclient==0.3.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
txaio==2.8.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
